webclient/index.html
webclient/Multi_Lingual/*.json
webclient/applicationHome/applicationHome.css
webclient/applicationHome/applicationHome.jsx
webclient/applicationHome/expiryLink.jsx
webclient/applicationHome/forgetpasswordEmail.jsx
webclient/applicationHome/forgotpassword.css
webclient/applicationHome/forgotpassword.jsx
webclient/applicationHome/loginpage.css
webclient/applicationHome/loginpage.jsx
webclient/applicationHome/logoutfile.jsx
webclient/applicationHome/mailnotsend.jsx
webclient/applicationHome/newpassword.css
webclient/applicationHome/newpassword.jsx
webclient/applicationHome/SentMailPage.jsx
webclient/applicationHome/signup.css
webclient/applicationHome/signup.jsx
webclient/applicationHome/successfullyregistered.jsx
webclient/config/expiryLink.json
webclient/config/forgetpasswordEmail.json
webclient/config/Home.json
webclient/config/logout.json
webclient/config/SentMail.Json
webclient/config/successfullyregistered.json
webclient/css/style.css
webclient/ginniAdmin/components/manageConcept/manageConcept.css
webclient/ginniAdmin/components/admin/adminprofile.css
webclient/ginniAdmin/components/admin/adminprofile.jsx
webclient/ginniAdmin/components/Analytics/graphData.jsx
webclient/ginniAdmin/components/Analytics/info.jsx
webclient/ginniAdmin/components/app/app.jsx
webclient/ginniAdmin/components/broadcast/addContent.jsx
webclient/ginniAdmin/components/broadcast/broadcast.jsx
webclient/ginniAdmin/components/broadcast/contentType.jsx
webclient/ginniAdmin/components/broadcast/messageView.jsx
webclient/ginniAdmin/components/broadcast/nofeedMessage.jsx
webclient/ginniAdmin/components/buildAi/answerContentType/blogAnswer.jsx
webclient/ginniAdmin/components/buildAi/answerContentType/textAnswer.jsx
webclient/ginniAdmin/components/buildAi/answerContentType/videoAnswer.jsx
webclient/ginniAdmin/components/buildAi/addQuestionAnswerSet.jsx
webclient/ginniAdmin/components/buildAi/buildAi.css
webclient/ginniAdmin/components/buildAi/buildAI.jsx
webclient/ginniAdmin/components/buildAi/inputQuestion.jsx
webclient/ginniAdmin/components/buildAi/questionsAnswer.jsx
webclient/ginniAdmin/components/buildAi/questionSetDisplay.jsx
webclient/ginniAdmin/components/buildAi/replyContentInput.jsx
webclient/ginniAdmin/components/buildAi/setUpBot.jsx
webclient/ginniAdmin/components/getquestionanswerset/cardDisplay.jsx
webclient/ginniAdmin/components/getquestionanswerset/displayaccordion.jsx
webclient/ginniAdmin/components/getquestionanswerset/displayqaset.jsx
webclient/ginniAdmin/components/getquestionanswerset/filterConcept.jsx
webclient/ginniAdmin/components/getquestionanswerset/filterData.jsx
webclient/ginniAdmin/components/getquestionanswerset/pagination.jsx
webclient/ginniAdmin/components/getquestionanswerset/questionanswer.css
webclient/ginniAdmin/components/home/home.jsx
webclient/ginniAdmin/components/home/homestyle.css
webclient/ginniAdmin/components/logout/logout.css
webclient/ginniAdmin/components/logout/logout.jsx
webclient/ginniAdmin/components/menu/menu.css
webclient/ginniAdmin/components/menu/menu.jsx
webclient/ginniAdmin/components/menu/topmenubot.jsx
webclient/ginniAdmin/components/QuestionCategory/addQuestionCategory.jsx
webclient/ginniAdmin/components/sideBarPusherContent/content.jsx
webclient/ginniAdmin/components/trainbot/inputNewSameAsIntent.jsx
webclient/ginniAdmin/components/trainbot/intentDropDown.jsx
webclient/ginniAdmin/components/trainbot/newIntentText.jsx
webclient/ginniAdmin/components/trainbot/sameAsIntents.jsx
webclient/ginniAdmin/components/trainbot/trainbot.css
webclient/ginniAdmin/components/trainbot/trainbot.jsx
webclient/ginniAdmin/components/unansweredqueries/unansweredqueries.jsx
webclient/ginniAdmin/components/users/assistantginniUrlDisplay.jsx
webclient/ginniAdmin/components/users/assistantGinniVideoDisplay.jsx
webclient/ginniAdmin/components/users/conversation.jsx
webclient/ginniAdmin/components/users/usertable.css
webclient/ginniAdmin/components/users/userTable.jsx
webclient/ginniAdmin/components/users/ViewUserChat.css
webclient/ginniAdmin/components/users/ViewUserChat.jsx
webclient/ginniClient/components/app/app.jsx
webclient/ginniClient/components/bookmarks/bookmarkList.jsx
webclient/ginniClient/components/bookmarks/bookmarkView.jsx
webclient/ginniClient/components/bookmarks/unfurlLink.jsx
webclient/ginniClient/components/changepassword/changepassword.css
webclient/ginniClient/components/changepassword/changepassword.jsx
webclient/ginniClient/components/clienthome/home.jsx
webclient/ginniClient/components/clienthome/homestyle.css
webclient/ginniClient/components/clientprofile/clientprofile.css
webclient/ginniClient/components/clientprofile/clientprofile.jsx
webclient/ginniClient/components/interaction/assistantChatContainer.jsx
webclient/ginniClient/components/interaction/assistantGinniKeywordResponse.jsx
webclient/ginniClient/components/interaction/assistantGinniMixedReply.jsx
webclient/ginniClient/components/interaction/assistantGinniMoreBlogsView.jsx
webclient/ginniClient/components/interaction/assistantGinniMoreTextDisplay.jsx
webclient/ginniClient/components/interaction/assistantGinniMoreVideosView.jsx
webclient/ginniClient/components/interaction/assistantGinniOptions.jsx
webclient/ginniClient/components/interaction/assistantGinniPlainText.jsx
webclient/ginniClient/components/interaction/assistantginniUrlDisplay.jsx
webclient/ginniClient/components/interaction/assistantGinniVideoDisplay.jsx
webclient/ginniClient/components/interaction/assistantUserView.jsx
webclient/ginniClient/components/interaction/chatcontainerstyle.css
webclient/ginniClient/components/interaction/inputUserMessage.jsx
webclient/ginniClient/components/interaction/loadingDots.jsx
webclient/ginniClient/components/interaction/unfurlLink.jsx
webclient/ginniClient/components/leftmenu/leftmenu.css
webclient/ginniClient/components/leftmenu/leftmenu.jsx
webclient/ginniClient/components/leftmenuPusherContent/defaultpageclient.css
webclient/ginniClient/components/leftmenuPusherContent/defaultpageclient.jsx
webclient/ginniClient/components/leftmenuPusherContent/leftmenuContent.jsx
webclient/ginniClient/components/logout/logout.css
webclient/ginniClient/components/logout/logout.jsx
webclient/ginniClient/components/notification/notificationfeed.jsx
webclient/ginniClient/components/notification/notifications.css
webclient/ginniClient/components/notification/notifications.jsx
webclient/ginniClient/components/savedquery/savedquery.jsx
webclient/ginniClient/components/slider/blogsvideoslider.jsx
webclient/images/*
webclient/views/home/home.jsx
webclient/views/home/index.jsx
webclient/clientapp.jsx
webserver/config/answerNotFoundReply.json
webserver/config/auth.js
webserver/config/commonReply.json
webserver/config/database.js
webserver/config/passport.js
webserver/config/replyForKeyword.json
webserver/config/testing.json
webserver/service.js
webserver/images/*
webserver/lexicon/getLexicons.js
webserver/lexicon/intentLexicon.json
webserver/lexicon/typeLexicon.json
webserver/lexicon/keywordLexicon.json
webserver/middleware/requestAuthenticate.js
webserver/models/broadcast.js
webserver/models/ginniAnalytics.js
webserver/models/notificationCount.js
webserver/models/savedqueries.js
webserver/models/tempUserModel.js
webserver/models/unansweredQuery.js
webserver/models/user.js
webserver/models/userBookmarks.js
webserver/models/userChatHistory.js
webserver/models/userNotificationCount.js
webserver/neo4j/connection.js
webserver/routes/addKnowledge/processQuestion.js
webserver/routes/addKnowledge/question.js
webserver/routes/addKnowledge/saveQuestionAnswer.js
webserver/routes/addKnowledge/voteAnswer.js
webserver/routes/analyticsData/analytics.js
webserver/routes/bookmarks/bookmarks.js
webserver/routes/broadcastmessage/broadcastmessage.js
webserver/routes/broadcastmessage/getbroadcastmessage.js
webserver/routes/concept/fetchConcepts.js
webserver/routes/concept/getConcept.js
webserver/routes/getAdmin/getadminUser.js
webserver/routes/getKnowledge/displayQA.js
webserver/routes/getKnowledge/getKnowledgeBase.js
webserver/routes/getReply/functions/getKeywordResponse.js
webserver/routes/getReply/functions/getQuestionResponse.js
webserver/routes/getReply/functions/processQuestion.js
webserver/routes/getReply/functions/saveAnalyticsData.js
webserver/routes/getReply/functions/saveUnansweredQuery.js
webserver/routes/getReply/functions/saveUserQueries.js
webserver/routes/getReply/functions/stackoverflow.json
webserver/routes/getReply/reply.js
webserver/routes/intent/functions/addNewSameAsIntent.js
webserver/routes/intent/functions/CreateIntent.js
webserver/routes/intent/functions/fetchBaseIntents.js
webserver/routes/intent/functions/fetchSameAsIntents.js
webserver/routes/intent/intent.js
webserver/routes/retriveChats/chats.js
webserver/routes/auth.js
webserver/routes/uploadimage.js
webserver/Testing/test.js
webserver/routes/spellChecker/functions/hunspell-spellchecker.min.js
webserver/routes/spellChecker/functions/spellChecker.js
webserver/routes/spellChecker/functions/lotsofwords.txt
webserver/routes/spellChecker/functions/en_US.aff
webserver/routes/spellChecker/functions/en_US.dic
webserver/routes/spellChecker/functions/hunspell-spellchecker.js
